:root {
  --color-primery: #ffd900;
  --color-hero-background: #1a1600;
  --color-headings: #c2b7b7;
  --color-body: #ffffff;
  --color-icon-background: #5c5b5b;
  --color-section-baground: #1b1b1b;
  --Border-Radius: 7px;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: var(--color-body);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  background-color: #101820;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
}
a {
  color: #8aaae5;
}

.icon--white {
  fill: white;
  color: #ffffff;
}

@media screen and (max-width: 870px) {
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
}

.btn {
  text-decoration: none;
  background: var(--color-primery);
  background-color: var(--color-primery);
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.5% 10%;
  outline: none;
  border: none;
  border-radius: 10px;
  color: black;
}

.btn--secondary {
  background-color: var(--color-icon-background);
}

.btn:hover {
  background: #7f6d13;
}

header {
  display: flex;
  width: 100%;
  height: 9.5vh;
  background-color: var(--color-hero-background);
  position: sticky;
  top: 0px;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  flex-wrap: wrap;
  transition: height 0.3s ease-in-out;
}

.header__logo {
  margin: 0;

  color: var(--color-body);
  padding: 1rem;
  font-size: 1rem;
  padding-left: 0;
  font-family: "Uncial Antiqua";
  font-weight: 100;
  opacity: 100%;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.header__btn--tagle {
  background: none;
  border: none;
  margin-right: 5%;
  flex-shrink: 1;
  opacity: 0.7;
  z-index: 3;
}

.aside__icon {
  width: 30px;
  height: 30px;
}

.header__btn--tagle {
  opacity: 1;
}

.btn--link {
  background-color: #ccf381;
  border-radius: 12px;
  padding: 5px 10px;
  text-decoration: none;
  color: blue;
}
.btn--link::after {
  font-family: "Courier New", Courier, monospace;
  content: "->";
}
.btn--link:hover::after {
  position: relative;
  left: 7px;
}

.btn--link:hover {
  background-color: aliceblue;
}

nav {
  justify-self: end;
}
.header__navigation {
  display: grid;
  column-gap: 5%;
  justify-items: start;
  align-items: center;
  list-style: none;
  margin-right: 10%;
  display: none;
  padding-left: 1rem;
}

.navigation--active {
  display: grid;
  grid-template-rows: repeat(6, 30px);
  column-gap: 0.2rem;
  justify-items: start;
  list-style: none;
  margin-top: 6px;
}

.header--active {
  height: 40vh;
  align-items: start;
  transition: height 0.3s ease-in-out;
}

.header__navigation li {
  position: relative;
}
.nav__item {
  text-decoration: none;
  color: var(--color-body);
  font-size: 0.8rem;
  opacity: 0.8;
}

.nav__item::after {
  content: "";

  background: var(--color-primery);
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: 0.3s;
}

.nav__item:hover::after,
.nav__item:hover {
  width: 100%;
  opacity: 1;
}
.nav__item:active {
  box-shadow: 1px 1px 1px 1px white;
}

@media screen and (min-width: 480px) {
  .header__btn--tagle {
    display: none;
  }

  .header__navigation {
    display: grid;
    grid-template-columns: repeat(6, 0.4fr);

    position: relative;
    left: -30px;
  }
  header {
    justify-content: space-around;
    gap: 3%;
  }
}

@media screen and (min-width: 760px) {
  .nav__item {
    font-size: 1rem;
  }
  .header__navigation {
    gap: 2rem;
  }
}

.hero {
  width: 100vw;
  height: 90.5vh;
  background-color: #101820;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: space-around;
  align-items: center;
  background-image: url("images/webdev.4d72dbba32efee3890cef9bcacce7aa7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  z-index: 2;
}
.hero__Hgroup {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero__Hgroup > p {
  color: #00ffff;
  font-size: 1rem;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  margin: 0;
}
.btn--p {
  padding: 20px 0px;
}
.hero__heading {
  color: var(--color-primery);
  font-family: cursive;
}
.hero__image {
  width: 45vw;
  height: 73vh;
  display: none; /*  this will maneged by midea query */
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: none;
    filter: none;
    grid-template-columns: 1fr 1fr;
  }
  .hero__image {
    display: block;
  }
}

.main-aside {
  display: flex;
  gap: 3%;
  justify-content: center;
  flex-grow: 1;
  flex-basis: auto;
  margin: 1rem 0;
  background-image: url(../images/download.png);
  /* overflow-x: auto; */
}

main {
  max-width: 900px;
}

/* -------------------------------aside------------------------------ */
.aside {
  width: 30%;
  height: 80%;
  max-width: 300px;
  min-width: 240px;
  background-color: var(--color-section-baground);
  border-radius: 10px;
  position: sticky;
  top: 11%;
  margin-left: 5%;
  display: none;
}

.aside__image {
  max-width: 200px;
  width: 60%;
  height: 40%;
  margin-bottom: 1.2rem;
}

.aside__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.aside__icon-container {
  background: var(--color-icon-background);
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  float: left;
  margin-right: 1rem;
}

.aside__icon {
  width: 30px;
  height: 30px;
}

.icon--primery {
  fill: var(--color-primery);
}

.aside__information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5%;
  margin-left: 5%;
  margin-top: 13%;
  justify-content: center;
}

.aside__information > * {
  flex: 1;
}

.aside__contact > p {
  color: white;
  margin: 0px;
}

.aside__contact > p > span {
  opacity: 75%;
  font-size: 1.2rem;
  display: block;
}

@media screen and (min-width: 769px) {
  .aside {
    display: initial;
  }
  .main-aside {
    justify-content: flex-start;
  }
}

/* ------------------Card  --start------------------------------------- */

.card {
  background-color: rgb(61, 58, 58);
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #3b3737;
  border-radius: 15px;
  margin: 4% auto;
  border: wheat solid 1px;
  width: 80%;
  box-sizing: border-box;
  overflow: auto;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  justify-items: center;
  justify-content: center;
  align-items: stretch;

  /* flex-wrap: wrap; */
}

.card__video-content,
.card__image-content img {
  max-width: 300px;
  align-self: center;
  width: 100%;
  height: auto;
  max-height: 300px;
}

.card__image-content {
  padding: 2%;
}

.card__content {
  padding: 0.5rem;
  word-wrap: wrap;
}

.card__addtional-text {
  display: none;
}
.card__addtional-text--active {
  display: block;
}

.card h1 {
  color: var(--color-primery);
  text-align: center;
}

@media screen and (min-width: 480px) {
  .card {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }
}

footer {
  width: 100%;
  height: auto;
  background: var(--color-section-baground);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}

.footer__copyright .icon {
  width: 1.5rem;
  height: 1.5rem;
  float: right;
}

.footer__copyright {
  margin: 0;
  text-align: center;
}
.footer__social-midea {
  display: flex;
  gap: 1vw;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}
.footer__social-midea > a {
  text-decoration: none;
  width: 24px;
  height: 24px;
}
.footer__social-midea .icon {
  width: 1rem;
  height: 1rem;
}

@media screen and (min-width: 769px) {
  footer {
    flex-direction: row;
  }
}

/* _____________________ABOUTPAGE______________________________________________________ */

.icon-box {
  text-align: center;
  color: var(--color-body);
}

.icon-box__heading {
  margin-bottom: 0px;
  font-size: large;
  color: var(--color-primery);
}

.icon-box__tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 90px));
  width: 80%;
  gap: 2rem;
  background-color: #3b3737;
  justify-content: center;
  padding: 5% 0%;
  border-radius: 15px;
  margin: 2% 10%;
}
.icon-container {
  background: #d9ff7a;
  width: 84px;
  height: 50px;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon--tool {
  width: 46px;
  height: 46px;
}

/* _________________________________Contact__________________________________________ */

.contact {
  color: var(--color-body);
  background: var(--color-section-baground);
  margin: 10%;
  padding: 3%;
  border-radius: var(--Border-Radius);
  width: 80%;
  height: auto;
}

.contact label {
  display: block;
  margin-top: 3%;
  color: var(--color-primery);
  font-size: 1.25rem;
}

#name,
#email,
textarea {
  border: 0.01px solid rgb(133, 133, 131);
  background-color: var(--color-section-baground);
  width: 50%;
  padding: 0.6rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  color: var(--color-body);
}

/* ____________________________________________________CV_______________________________________________ */

.pdfviewer {
  color: var(--color-body);
  background: var(--color-section-baground);
  margin: 10%;
  padding: 3%;
  border-radius: var(--Border-Radius);
  width: 80%;
  height: auto;
}

.pdfviewer .btn {
  display: block;
  align-self: center;
  margin: 1rem auto;
  max-width: 100px;
}

.pdfviewer embed {
  margin-left: 10%;
}

.pdfviewer__cv-image {
  width: 80%;
  height: 80%;
  margin-left: 8.89%;
}
